.container {
  width: 100%;
  height: 100%;
}

.sidenav {
  overflow-y: hidden;
  width: 30%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 70%;
  height: 95%;
  overflow-y: auto;
}
