<div mat-dialog-content>

  <div class="form-fields">
    <div class="form-field">
      <mat-form-field appearance="outline" style="width: 100%">

        <mat-label><span [translate]="'inputs.occupation.label'"></span></mat-label>

        <input type="text"
               matInput
               [formControl]="jobPosition.controls.occupation"
               [matAutocomplete]="autoOccupation"
               [errorStateMatcher]="matcher">

        <mat-autocomplete #autoOccupation="matAutocomplete" [displayWith]="occupationTranslate">
          <mat-option *ngFor="let option of occupations" [value]="option">
            <span>{{('categories.occupations.' + option.id | translate)}} {{translate.currentLang === 'en' ? '' : ('(' + option.name + ')')}}</span>
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>
    </div>
  </div>

  <div class="form-fields">
    <div class="form-field">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label><span [translate]="'inputs.categories.label'"></span></mat-label>
        <mat-select [(ngModel)]="jobCategoriesSelected" multiple [compareWith]="equalsCat">

          <mat-select-trigger>
            {{jobCategoriesSelected[0] ? ('categories.' + jobCategoriesSelected[0].id | translate) : ''}} {{jobCategoriesSelected[1] ? (', ' + ('categories.' + jobCategoriesSelected[1].id | translate)) : ''}}
            <span *ngIf="(jobCategoriesSelected.length || 0) > 2" class="additional-selection">
              (+{{(jobCategoriesSelected.length || 0) - 2}} {{jobCategoriesSelected.length === 3 ? ('inputs.categories.other' | translate) : ('inputs.categories.others' | translate)}}
              )
            </span>
          </mat-select-trigger>

          <mat-option *ngFor="let cat of categories" [value]="cat">
            {{'categories.' + cat.id | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="form-fields">
    <div class="form-field">
      <mat-form-field appearance="outline" style="width: 100%">

        <mat-label><span [translate]="'inputs.company.name.label'"></span></mat-label>

        <input type="text"
               matInput
               [formControl]="jobPosition.controls.company"
               [matAutocomplete]="autoCompany">

        <mat-autocomplete #autoCompany="matAutocomplete" [displayWith]="companyDisplay">
          <mat-option *ngFor="let option of companies" [value]="option">
            {{option.companyName}}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>
    </div>
    <div class="form-field">
      <email-input [formControlComponent]="jobPosition.controls.contactEmail" [editMode]="true"
                   fieldAppearance="outline"></email-input>
    </div>
  </div>

  <div class="form-fields">
    <div class="form-field">
      <h3 [translate]="'inputs.address.label'"></h3>
      <address-input style="width: 33%;"
                     [formControlCountryIn]="$any(jobPosition).controls.country"
                     [formControlStateIn]="$any(jobPosition).controls.state"
                     [formControlCityIn]="$any(jobPosition).controls.city"
                     [editMode]="true" fieldAppearance="outline">
      </address-input>
    </div>
  </div>


  <div class="form-field">
    <h3 [translate]="'inputs.jobPosition.description.label'"></h3>
    <editor-input style="text-indent: 0" [formControlComponent]="jobPosition.controls.detail"
                  [editMode]="true"></editor-input>
  </div>

</div>
<dialog-actions [submitText]="update ? 'dialog.job.update' : 'dialog.job.submit'" (onSubmit)="createJobPosition()"
                (onCancel)="safeClose()"></dialog-actions>
