<mat-form-field appearance="outline" style="width: 100%">

  <mat-label><span [translate]="'inputs.company.name.label'"></span></mat-label>

  <input type="text"
         matInput
         [formControl]="companyControl"
         [matAutocomplete]="autoCompany">

  <mat-autocomplete #autoCompany="matAutocomplete" [displayWith]="companyDisplay">
    <mat-option *ngFor="let option of companies" [value]="option">
      {{option.companyName}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>

<mat-chip-set>
  <mat-chip-row *ngFor="let company of selectedCompanies.value"
                (removed)="remove(company)"
                [editable]="false">
    {{company.companyName}}
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip-row>
</mat-chip-set>
