<div style="overflow-y: hidden; height: 100%">
  <mat-toolbar color="primary">

    <mat-toolbar-row>

      <img class="img-fluid" src="assets/jp_logo.svg" alt="assets/job_portal.png" [routerLink]="['/home']"/>

      <div>
        <button [routerLink]="'/companies'" class="button-full" mat-button>
          <span [translate]="'home.button.companies'"></span>
        </button>
        <button [routerLink]="'/jobs'" class="button-full" mat-button>
          <span [translate]="'home.button.jobs'"></span>
        </button>
        <button *ngIf="isAdmin" [routerLink]="'/users'" class="button-full" mat-button>
          <span [translate]="'home.button.users'"></span>
        </button>
      </div>

      <span class="spacer"></span>

      <saved-jobs-menu [hidden]="!isLoggedIn || isCompany || isAdmin"></saved-jobs-menu>
      <language-menu [userId]="userId"></language-menu>
      <button [hidden]="isLoggedIn" mat-button (click)="openLoginDialog()"><span
        [translate]="'home.button.login'"></span>
      </button>
      <account-menu [hidden]="!isLoggedIn" [username]="username" [userId]="userId!"></account-menu>

    </mat-toolbar-row>

  </mat-toolbar>
  <div style="height: calc(100% - 64px)">
    <div *ngIf="isLoading">
      <mat-progress-bar style="z-index: 10;" mode="indeterminate"></mat-progress-bar>
    </div>
    <div [style]="'height: 100%; position: relative; bottom: ' + (isLoading ? '4px' : '0')">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>



