p {
  text-indent: 50px !important;
  margin-right: 25px;
  margin-left: 25px;
}

.header-avatar {
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin-right: 50px;
  margin-left: 25px;
  border: solid black 1px;
}

.header {
  height: 160px;
}

.card-content {
  min-height: 100%;
}

.name {
  font-size: 3vw;
}

.description {
  font-size: 15pt;
}

.form-fields {
  display: flex;
  align-content: space-around;
  justify-content: flex-start;
  gap: 5%;
  font-size: 12pt;
}

.form-field {
  width: 100%;
}

.action-buttons {
  position: sticky;
  bottom: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
}
