<mat-card>
  <div>
    <mat-card-header>

      <img mat-card-avatar [matMenuTriggerFor]="menu" class="header-avatar"
           [src]="avatar.value"
           alt="">

      <mat-menu #menu="matMenu">
        <avatar-menu [avatarFormControl]="avatar" [userId]="userInfo.controls['id'].value"></avatar-menu>
      </mat-menu>

      <mat-card-title class="name">
        <text-input [label]="'First name'" [formControlComponent]="$any(userInfo).controls['name']"
                    [editMode]="editMode" fieldAppearance="outline"></text-input>
      </mat-card-title>
      <mat-card-title class="name">
        <text-input [label]="'Last name'" [formControlComponent]="$any(userInfo).controls['lastName']"
                    [editMode]="editMode" fieldAppearance="outline"></text-input>
      </mat-card-title>

      <span fxFlex></span>

      <div>
        <button *ngIf="!editMode" mat-icon-button (click)="generateCv()"
                [title]="'Generate a CV'">
          <mat-icon color="accent"> insert_drive_file</mat-icon>
        </button>
        <button *ngIf="!editMode" mat-icon-button (click)="editMode = true">
          <mat-icon color="accent">edit</mat-icon>
        </button>
      </div>

    </mat-card-header>

    <mat-card-subtitle>
      <p>
        <text-area-input [label]="'Profile'" [formControlComponent]="$any(applicantInfo).controls['profile']"
                         [editMode]="editMode" fieldAppearance="outline"></text-area-input>
      </p>
    </mat-card-subtitle>

    <mat-divider></mat-divider>

    <mat-card-content class="card-content">

      <div class="form-fields">
        <div class="form-field">
          <h3>Email</h3>
          <email-input [formControlComponent]="$any(userInfo).controls['email']" [editMode]="editMode"
                       fieldAppearance="outline"></email-input>
        </div>

        <div class="form-field">
          <h3>Phone</h3>
          <phone-input [formControlComponent]="$any(applicantInfo).controls['phone']" [editMode]="editMode"
                       fieldAppearance="outline"></phone-input>
        </div>
      </div>

      <div class="form-fields">
        <div class="form-field">
          <h3>Location</h3>
          <address-input
                  [formControlCountryIn]="$any(applicantInfo).controls['country']"
                  [formControlStateIn]="$any(applicantInfo).controls['state']"
                  [formControlCityIn]="$any(applicantInfo).controls['city']"
                  [editMode]="editMode" fieldAppearance="outline">
          </address-input>
        </div>
        <div class="form-field"></div>
      </div>

      <div *ngIf="!editMode">
        <mat-divider></mat-divider>

        <h3 style="margin-left: 25px" >Experiences</h3>
          <app-experiences-list [experiences]="$any(applicantInfo).controls['experiences']"></app-experiences-list>
      </div>

    </mat-card-content>


    <mat-card-actions *ngIf="editMode" align="end" class="action-buttons">
      <dialog-actions submitText="dialog.actions.save" (onCancel)="safeCancelChange()"
                      (onSubmit)="updateUser()"></dialog-actions>
    </mat-card-actions>


  </div>
</mat-card>
