.center-content {
  display: flex;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 70%;
  height: 95%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.position-name {
  font-size: 2vw;
}

.company-name {
  font-size: 2vw;
  cursor: pointer;
}

.header-avatar {
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin-right: 50px;
  margin-left: 25px;
  border: solid black 1px;
}

.up {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.action-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.button-bottom {
  margin-right: 15px;
}

