<mat-drawer-container style="height: 100%; width: 100%">
    <mat-drawer style="width: 20%" mode="side" opened>
        <mat-nav-list>
            <mat-list-item [routerLink]="'/users'" routerLinkActive="" #rlaUsers="routerLinkActive"
                           [activated]="rlaUsers.isActive">Users</mat-list-item>
            <mat-list-item [routerLink]="'/applicants'" routerLinkActive="" #rlaApplicants="routerLinkActive"
                           [activated]="rlaApplicants.isActive">Applicants</mat-list-item>
            <mat-list-item [routerLink]="'/companies'" routerLinkActive="" #rlaCompanies="routerLinkActive"
                           [activated]="rlaCompanies.isActive">Companies</mat-list-item>
            <mat-list-item [routerLink]="'/job-positions'" routerLinkActive="" #rlaJobs="routerLinkActive"
                           [activated]="rlaJobs.isActive">Job Positions</mat-list-item>
            <mat-list-item [routerLink]="'/applications'" routerLinkActive="" #rlaApps="routerLinkActive"
                           [activated]="rlaApps.isActive">Applications</mat-list-item>
            <mat-list-item [routerLink]="'/categories'" routerLinkActive="" #rlaCats="routerLinkActive"
                           [activated]="rlaCats.isActive">Job Position Categories</mat-list-item>
            <mat-list-item style="position: absolute; bottom: 0" (click)="logOut()">Logout</mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
