<mat-tab-group mat-align-tabs="center" dynamicHeight>
  <mat-tab [label]="'dialog.login.tab.login.title' | translate">
    <div mat-dialog-content class="login-content">
      <email-input class="input-field" [formControlComponent]="emailFormControlLogin.controls.email"></email-input>

      <password-input class="input-field"
                      [formControlComponent]="emailFormControlLogin.controls.password"></password-input>
    </div>
    <dialog-actions [submitText]="'dialog.login.tab.login.submit'" [ngForm]="emailFormControlLogin"
                    (onSubmit)="submitLogin()" (onCancel)="close()"></dialog-actions>

  </mat-tab>

  <mat-tab [label]="'dialog.login.tab.registration.title' | translate">
    <mat-dialog-content class="registration-content">
      <div class="container">

        <email-input [formControlComponent]="formControlRegistration.controls.email"></email-input>
        <repeat-password [repeatPasswordFormGroup]="formControlRegistration.controls.password"></repeat-password>

        <div class="form-fields">
          <mat-form-field class="input-field">
            <mat-label [translate]="'inputs.user.firstName.label'"></mat-label>
            <input matInput [formControl]="formControlRegistration.controls.name" [errorStateMatcher]="matcher"
                   [placeholder]="'inputs.user.firstName.placeholder' | translate">
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label [translate]="'inputs.user.lastName.label'"></mat-label>
            <input matInput [formControl]="formControlRegistration.controls.lastName" [errorStateMatcher]="matcher"
                   [placeholder]="'inputs.user.lastName.placeholder' | translate">
          </mat-form-field>
        </div>

        <p>
          <mat-checkbox #checkbox [formControl]="formControlRegistration.controls.isCompany"><span
            [translate]="'dialog.login.tab.registration.asCompany'"></span></mat-checkbox>
        </p>

        <form [@slideInOut]="checkbox.checked ? 'in' : 'out'" [hidden]="checkbox.disabled">

          <div class="form-fields">
            <mat-form-field class="input-field">
              <mat-label [translate]="'inputs.company.name.label'"></mat-label>
              <input matInput [formControl]="formControlRegistration.controls.companyName" [errorStateMatcher]="matcher"
                     [placeholder]="'inputs.company.name.placeholder' | translate">
            </mat-form-field>
            <mat-form-field class="input-field">
              <mat-label [translate]="'inputs.company.link.label'"></mat-label>
              <input type="url" matInput [formControl]="formControlRegistration.controls.companyLink"
                     [errorStateMatcher]="matcher"
                     [placeholder]="'inputs.company.link.placeholder' | translate">
            </mat-form-field>
          </div>


          <mat-form-field class="input-field" appearance="fill">
            <mat-label [translate]="'inputs.company.size.label'"></mat-label>
            <mat-select [formControl]="formControlRegistration.controls.companySize">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let size of cSizes" [value]="size.value"><span [translate]="'inputs.company.size.value.' + size.value"></span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

      </div>
    </mat-dialog-content>
    <dialog-actions [submitText]="'dialog.login.tab.registration.submit'" [ngForm]="formControlRegistration"
                    (onSubmit)="submitRegistration()" (onCancel)="safeClose()"></dialog-actions>
  </mat-tab>
</mat-tab-group>
