<mat-card style="margin:0.5em;">
  <mat-card-header>
    <img #avatarImg mat-card-avatar class="avatar"
         [src]="avatar.value" alt="">

    <mat-card-title style="font-size: 2vw">
      {{company.controls['companyName'].value}}
    </mat-card-title>

    <mat-card-title>
      <button mat-raised-button [routerLink]="'//jobs'" (click)="$event.stopPropagation()" style="margin-top: 10px"
              [queryParams]="{companyId: $any(company).controls['id'].value, companyName: $any(company).controls['companyName'].value}">
        <mat-icon color="accent">work</mat-icon>
        <div>{{'companies.look-for-jobs' | translate}}</div>
      </button>
    </mat-card-title>

  </mat-card-header>
</mat-card>
